body {
  background-image: url('/src/Images/background.jpg');
  text-align: center;
}

body::before {
  opacity: 50%;
}

head {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

p {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

.loader {
  visibility: hidden;
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80vw;
  height: 25em;
  border: groove 3px rgb(3, 99, 99);
  border-radius: 1em;  
  background: linear-gradient(to right, #434343, #000000); 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0em 0em 10em grey;
}

h1,h2,h3 {
  color: rgb(255, 145, 0);
  margin: 0;
}

h2 {
  padding-top: 1em;
}

.card .description {
  margin-top: 1em;
  color: orange;
  padding: 2em;   
}

.main-image {
  margin-top: 1em;
  width: 12.5em;
  height: 12.5em;
  border-radius: 1em;
  box-shadow: -5px -5px 10px rgb(63, 156, 243);
}

.btn-generate {
	box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #1d1f1f 100%);
	background-color:#768d87;
	border-radius:27px;
	border:12px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:15px 43px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.btn-generate:hover {
	background:linear-gradient(to bottom, #1d1f1f 5%, #768d87 100%);
	background-color:#1d1f1f;
  cursor: pointer;
}
.btn-generate:active {
	position:relative;
	top:1px;
}

@media only screen 
   and (min-width : 768px) {
  .card {
      margin-top: 1em;
      margin-bottom: 1em;
      width: 20em;
      height: 25em;
      border: groove 3px rgb(3, 99, 99);
      border-radius: 1em;  
      background: linear-gradient(to right, #434343, #000000); 
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0em 0em 10em grey;
  }
  
  .btn-generate {
      width: 10em;
      height: 3em;      
  }

  .btn-generate:hover {
      background:linear-gradient(to bottom, #1d1f1f 5%, #768d87 100%);
      background-color:#1d1f1f;
      width: 10em;
      height: 3em;
  }
}

